.cart-container {
  height: 100%;
  width: 80%;
  margin: auto;
  padding-top: 100px;
}

.cart-wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 10px;
}

.cart-wrapper table,
.cart-wrapper th,
.cart-wrapper td {
  border: 1px solid black;
  border-collapse: collapse;
}

.cart-wrapper table {
  width: 100%;
  margin-top: 50px;
}

.cart-wrapper td {
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

.cart-wrapper tr:nth-child(even) {
  background-color: #95bcf0;
}

.cart-wrapper th {
  padding: 10px;
  text-transform: uppercase;
  font-size: 20px;
}

.cart-container h1 {
  text-align: center;
  padding-bottom: 25px;
  font-size: 50px;
  padding-top: 80px;
  color: #4a4c4b;
  text-transform: uppercase;
}

.cart-container td button {
  padding: 1px 5px;
  color: white;
  background-color: #fff;
  border-radius: 50%;
  text-transform: capitalize;
}
@media (max-width: 500px) {
  .cart-wrapper {
    overflow-x: scroll;
  }
  .cart-container {
    width: 95%;
  }
}

.button-container {
  margin: auto;
  display: flex;
  justify-content: flex-end;
}

.button-container button {
  padding: 10px 30px;
  margin-left: 20px;
  color: white;
  background-color: #044599;
  border-radius: 4px;
  margin-bottom: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.button-container button:hover {
  background-color: #95bcf0;
}
.close-btn-cart {
  background: white;
}
.close-btn-cart img {
  width: 8px;
  height: 8px;
  position: relative;
}
